<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="graduation.design.mapper.XibieMapper">
	<resultMap type="Xibie" id="xibieResultMap">
		<id property="id" column="id" />
		<result property="s_0" column="t_name" />
		<result property="s_1" column="t_bz" />
	</resultMap>

	<delete id="deleteObject" parameterType="int">
		delete from t_xibie where id=#{id};
	</delete>

	<select id="selectObject" parameterType="int" resultMap="xibieResultMap">
		SELECT t_xibie.id,
			   t_xibie.t_name,
			   t_xibie.t_bz
		  FROM t_xibie
		 WHERE t_xibie.id = #{id}
	</select>

	<select id="getObjectList"  resultMap="xibieResultMap" parameterType="java.util.Map">
		SELECT t_xibie.id,
			   t_xibie.t_name,
			   t_xibie.t_bz
		  FROM t_xibie
		 WHERE 1 = 1
		<if test="field == 's_0'">
			and t_xibie.t_name like '%${fieldValue}%'
		</if>
		<if test="field == 's_1'">
			and t_xibie.t_bz like '%${fieldValue}%'
		</if>
	</select>

	<insert id="insertObject" parameterType="Xibie">
		INSERT INTO t_xibie(t_name, t_bz)
				VALUES(#{s_0}, #{s_1})
	</insert>

	<update id="updateObject" parameterType="Xibie">
		UPDATE t_xibie set t_name=#{s_0}, t_bz=#{s_1}
				where id=#{id}
	</update>

</mapper>

